<header class="header">
    <div class="row">
        <div class="col-4">
            <h3>Codrika</h3>
        </div>
        <div class="col">
            <form class="form-inline">
                <select class="dropdown-item form-control mr-1 mb-1" name="mode" [(ngModel)]="mode"
                    (ngModelChange)="changeMode()">
                    <option value="text/typescript" selected>JavaScript</option>
                    <option value="python">Python</option>
                    <option value="ruby">Ruby</option>
                    <option value="php">PHP</option>
                    <option value="swift">Swift</option>
                    <option value="go">Go</option>
                    <option value="groovy">Groovy</option>
                    <option value="groovy">Java</option>
                </select>
                <select class="dropdown-item form-control mr-1 mb-1" name="theme" [(ngModel)]="theme"
                    (ngModelChange)="changeTheme()">
                    <option value="yonce" selected disabled>Change Theme..</option>
                    <option>erlang-dark</option>
                    <option>3024-day</option>
                    <option>3024-night</option>
                    <option>abcdef</option>
                    <option>ambiance</option>
                    <option>ayu-dark</option>
                    <option>ayu-mirage</option>
                    <option>base16-dark</option>
                    <option>base16-light</option>
                    <option>bespin</option>
                    <option>blackboard</option>
                    <option>cobalt</option>
                    <option>colorforth</option>
                    <option>darcula</option>
                    <option>dracula</option>
                    <option>duotone-dark</option>
                    <option>duotone-light</option>
                    <option>eclipse</option>
                    <option>elegant</option>
                    <option>erlang-dark</option>
                    <option>gruvbox-dark</option>
                    <option>hopscotch</option>
                    <option>icecoder</option>
                    <option>idea</option>
                    <option>isotope</option>
                    <option>lesser-dark</option>
                    <option>liquibyte</option>
                    <option>lucario</option>
                    <option>material</option>
                    <option>material-darker</option>
                    <option>material-palenight</option>
                    <option>material-ocean</option>
                    <option>mbo</option>
                    <option>mdn-like</option>
                    <option>midnight</option>
                    <option>monokai</option>
                    <option>moxer</option>
                    <option>neat</option>
                    <option>neo</option>
                    <option>night</option>
                    <option>nord</option>
                    <option>oceanic-next</option>
                    <option>panda-syntax</option>
                    <option>paraiso-dark</option>
                    <option>paraiso-light</option>
                    <option>pastel-on-dark</option>
                    <option>railscasts</option>
                    <option>rubyblue</option>
                    <option>seti</option>
                    <option>shadowfox</option>
                    <option>solarized dark</option>
                    <option>solarized light</option>
                    <option>the-matrix</option>
                    <option>tomorrow-night-bright</option>
                    <option>tomorrow-night-eighties</option>
                    <option>ttcn</option>
                    <option>twilight</option>
                    <option>vibrant-ink</option>
                    <option>xq-dark</option>
                    <option>xq-light</option>
                    <option>yeti</option>
                    <option selected>yonce</option>
                    <option>zenburn</option>
                </select>
                <button class="btn btn-default dropdown-item run-btn" (click)="run();">
                    Run
                </button>
            </form>
        </div>

    </div>
</header>
<section class="editor-container row">
    <div class="editor col-md-7" *ngIf="!showLogs">
        <ngx-codemirror class="code-editor" [(ngModel)]="content" (ngModelChange)="handleInput($event)"
            [options]="options">
        </ngx-codemirror>
    </div>
    <div class="console col-md-5" *ngIf="showLogs">
        <h2 class="title">Console</h2>
        <span (click)="closeLogs()" class="close-log-widnow-btn material-icons-sharp">arrow_back_ios_new</span>
        <hr />
        <ng-container *ngIf="logs!=null">
            <ng-container *ngFor="let log of logs">
                <pre class="console-log {{log.type}}"><strong>></strong> {{log.value}} {{log.args}}</pre>
            </ng-container>
        </ng-container>
    </div>
</section>